
<div class="wrapper">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Dashboard</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onModify()">Modify Profil</button>
    <button class="btn btn-danger my-2 my-sm-1" (click)="onVerify()">Verify Profil</button>
    <button class="btn btn-danger my-2 my-sm-2" (click)="onAvailableOrders()">Active Orders</button>
    <button class="btn btn-danger my-2 my-sm-3" (click)="onCurrentOrders()">Complete Order</button>
    <button class="btn btn-danger my-2 my-sm-4" (click)="onAddProduct()">Add Product</button>
    <button class="btn btn-danger my-2 my-sm-5" (click)="onHistoryOrders()">History Orders</button>
    <button class="btn btn-danger my-2 my-sm-6" (click)="onLogout()">Logout</button>
    
  </nav>
  <div class="wrapped-div">
    <div class="tab-header">    
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>